section, h3{
    border: double
}
.flexdown{
    display: flex;
    flex-flow: column;
}
.flexside{
    display: flex
}
.levelgridColumn1{
    width: 3rem
}
.levelgridColumn2{
    width: 10rem
}
.levelgridColumn3{
    width: 2rem
}
.levelgridColumn4{
    width: 4rem
}
.levelgridColumn5{
    width: 15rem
}