section, h3{
    border: double
}
.flexdown{
    display: flex;
    flex-flow: column;
}
.flexside{
    display: flex
}
.flexsidescroll{
    display: flex;
    overflow-x: scroll;
}
.detailColumn1{width:8rem}
.detailColumn2{width:3rem}
.detailColumn3{width:3rem}
.detailColumn4{width:3rem}
.detailColumn5{width:3rem}