section, h3{
    border: double
}
.flexdown{
    display: flex;
    flex-flow: column;
}
.flexside{
    display: flex
}
.flexsidescroll{
    display: flex;
    overflow-x: scroll;
}
.skillColumn1{
    width:8rem;
    height: 5rem;
    display: flex;
    align-items: center;}
.skillColumn2{
    width:4rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.crossClassSkill{
    color:rgb(0, 0, 0);
    background-color: rgb(218, 132, 132);
    height: 5rem;
    font-size: 24px;
}
.classSkill{
    color:rgb(0, 0, 0);
    background-color: rgb(154, 255, 133);
    height: 5rem;
    font-size: 24px;
}
.classSkillBlank{
    color:greenyellow;
    background-color: white;
    height: 5rem;
    font-size: 24px;
}

.skillColumn{
    height: 5rem;
}